<h1><%= @user.name %></h1>


<% if @expenses %>

  <% @expenses.each do |expense| %>
    <li>

    <%= expense.date %> - 
    <%= expense.title %> - 
    <%= expense.price %>
    </li>
  <% end %>
<% end %>